<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer style="background-color: #eed6d3">
      <div class="container p-0 pt-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-2">
            <h5 class="mb-3 text-dark">Mess Management System</h5>
            <p>
              The Mess Management System (MMS) is a web application that
              streamlines mess operations in educational institutions. It allows
              students to view daily menus, submit feedback, and raise
              complaints, enhancing communication with mess administration
            </p>
          </div>
          <div class="col-lg-3 col-md-6 mb-2">
            <h5 class="mb-3 text-dark">links</h5>
            <ul class="list-unstyled mb-0">
              <li class="mb-1">
                <a href="index.html" style="color: #4f4f4f">Home</a>
              </li>
              <li class="mb-1">
                <a
                  href="https://mail.google.com/mail/?view=cm&fs=1&to=yaswanth.syr@gmail.com"
                  style="color: #4f4f4f"
                  >Contact Us</a
                >
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-2">
            <h5 class="mb-1 text-dark">Mess Timings</h5>
            <table class="table" style="border-color: #666">
              <tbody>
                <tr>
                  <td>Breakfast:</td>
                  <td>7am - 9am</td>
                </tr>
                <tr>
                  <td>Lunch:</td>
                  <td>12:30pm - 2pm</td>
                </tr>
                <tr>
                  <td>Dinner:</td>
                  <td>7pm - 9pm</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 Copyright:
        <span class="text-dark">MMS</span>
      </div>
      <!-- Copyright -->
    </footer>
</body>
</html>